body {
  background-color: pink;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}

.content h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}
